body{
    background-color: rgb(97, 97, 97);
}

.sticky{
    position: sticky;
    top:100px;
    background-color:rgb(57, 66, 83);
    width: 90%;
    left: 6%;
    color: green;

}

ol{
    position: relative;
    padding-top: 20%;
    list-style: none;
}